@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap");

:root {
  --color-blue-ribbon: #0070f4;
  --color-cod-gray: #191919;
  --color-dodger-blue: #338cf5;
  --color-dove-gray: #6b6b6b;
  --color-gallery: #eaeaea;
  --color-mine-shaft: #333;
  --color-science-blue: #0064da;
  --color-viking: #4fd1c5;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  --header-height: 70px;
  --radius: 5px;
  --wrapper-padding: 1rem;

  --shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding-bottom: 100vh;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: "Inter", sans-serif;
}

.logo {
  background: var(--color-dodger-blue);
  background-image: radial-gradient(
    circle at 10% 90%,
    var(--color-dodger-blue) 0%,
    var(--color-viking) 12%,
    var(--color-dodger-blue) 74%,
    rgba(255, 255, 255, 0.1) 90%
  );
  border-radius: 50px;
  height: 30px;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 30px;
}

.logo::before {
  content: "";
  height: 200%;
  width: 200%;
  transform: translate(-45%, -5%);
  position: absolute;
}
